site_name: Документация TraceWay
nav:
  - Главная: index.md
  - Справочники: 
    - Номенклатура: books/Nomenclature.md 
    - Рецепты: books/Recipe.md 
theme:
  name: material
  palette:
    scheme: default
    primary: green 

  font:
    text: Merriweather Sans


markdown_extensions:
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details

extra:
  version:
    provider: mike

plugins:
  - mike:
      # These fields are all optional; the defaults are as below...
      alias_type: symlink
      redirect_template: null
      deploy_prefix: ''
      canonical_version: null
      version_selector: true
      css_dir: css
      javascript_dir: js