site_name: Документация TraceWay
nav:
  - Главная: index.md
  - Справочники: 
    - Номенклатура: books/Nomenclature.md 
    - Рецепты: books/Recipe.md 
theme:
  name: material
  palette:
    scheme: default
    primary: green 

  font:
    text: Merriweather Sans


markdown_extensions:
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details

extra:
  version:
    provider: mike